@model IEnumerable<Online_Store.Models.Product>

<div class="container text-center">
    <div class="row">
    @if(Model.Count() > 0)
    {
        @foreach(var item in Model)
        {
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Prize$</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Quantity</option>
                      @foreach(var num in Enumerable.Range(1, item.Quantity))
                      {
                          <option id="@num" value=@num.ToString()>@num</option>

                      }
                    </select>
                    @{ //<a class="btn btn-primary mx-1" asp-controller="Home" asp-action="Index" asp-route-Id="@item.Id" asp-route-Quan="">Add To Cart</a>
                     }
                    <a class="btn btn-primary mx-1" asp-controller="ClientProducts" asp-action="AddToCart" asp-route-Id="@item.Id">Add To Cart</a>
                  </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Nothing to buy yet!</p>
    }
    </div>
</div>
